/*! Συμπληρωματικό css για το site του συλλόγου. 

Αρχικά, για τη σωστή λειτουργικότητα της navbar, ορίζουμε
τη θέση των στοιχείων του background ως σχετική. 
Κατόπιν, αλλάζουμε το προεπιλεγμένο άσπρο φόντο σε ένα
γραμμικό gradient, καθορίζοντας τη γωνία και τα χρώματα
αρχής και τέλους.
Τέλος, ορίζουμε άλλη γραμματοσειρά με μωβ χρώμα */
body {
  position: relative;
  background-image: linear-gradient(110deg, #DEFDD8, #330066);
  font-family: Georgia, "Times New Roman", Times, serif;
  color: purple;
}
/*! Καθορίζουμε παραμέτρους στοίχισης, περιθωρίων και εικόνας
φόντου για το section jumbo. Επειδή δεν έχουμε βάλει το section 
σε container, η εικόνα θα εκταθεί σε όλο το μήκος της οθόνης. */
#jumbo {
	text-align: center;
	padding: 70px;
	background: url('../images/Background01.jpg') no-repeat;
	background-size: cover;
	background-position: center, center;
}
/*! Το jumbotron, όπως και τα υπόλοιπα sections, δεν θέλουμε
να εκτείνονται σε όλο το μήκος της οθόνης για αισθητικόυς λόγους
(για μεγάλες οθόνες). Έτσι, μορφοποιούμε τα περιθώρια, το χρώμα
και τη διαφάνεια του background και το μέγιστο μήκος του jumbotron
και στρογγυλεύουμε τις γωνίες του. */
#jumbo .jumbotron{
	border-radius: 25px;
	padding: 5px 25px 25px 25px;
	background-color: rgba(255, 255, 254, 0.75);
	max-width: 1170px;
	margin: 0 auto;
}
/*!Αντίστοιχα, δουλεύουμε και για τα υπόλοιπα στοιχεία. */
#whoAreWe {
	padding: 70px 0px 150px 0px;
}
.classRow{
    float: none;
	padding-bottom: 25px;
	max-width: 1170px;
    margin: 0 auto;
}
.classCol{
	border-radius: 15px;
	padding-bottom: 25px;
	border: purple solid 1px;
	background-color: rgba(255, 255, 254, 0.75);
	margin: 0 auto;
}
#goal {
	padding-top: 0px;
	padding-bottom: 25px;
	background-color: rgba(255, 255, 204, 0.75);
}
#draseis {
	padding-top: 70px;
	padding-bottom: 150px;
	background: url('../images/Background02.jpg') no-repeat;
	background-size: cover;
}
.imgf {
	padding-top: 50px;
	padding-bottom: 20px;
}
#gineMelos {
	padding: 70px 0px 150px 0px;
}
.classSmCol{	
	max-width: 25px;
	margin: 0;
}
#contact {
	padding: 70px 0px 400px 0px;
	background: url('../images/Background03.jpg') no-repeat;
	background-size: cover;
}